{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="background background--sailboat py-5">
        <div class="container">
            <div class="header">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('assets/images/logo.png') }}" alt="ChatLyfe logo" />
                </a>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h1 class="mb-4">Please Log In</h1>

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <div class="form-group mb-3">
                            <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
                            <input class="form-control"
                                   type="text"
                                   id="username"
                                   name="_username"
                                   value="{{ last_username }}"
                                   required="required"
                                   placeholder="{{ 'security.login.username'|trans }}"
                            />
                        </div>

                        <div class="form-group mb-3">
                            <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
                            <input class="form-control"
                                   type="password"
                                   id="password"
                                   name="_password"
                                   required="required"
                                   placeholder="{{ 'security.login.password'|trans }}"
                            />
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label class="form-check-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
						
						<a href="{{ path("fos_user_resetting_request") }}">
							Forgot Password 
						</a>
						
                        <input class="btn btn-secondary btn-chatlyfe"
                               type="submit"
                               id="_submit"
                               name="_submit"
                               value="{{ 'security.login.submit'|trans }}"
                        />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
