<div class="row">
    <div class="col-md-2">
        {% if pm %}
            {{ message.author.username }}
        {% else %}
            <a href="{{ url('direct_chat', { id: message.author.id }) }}">{{ message.author.username }}</a>
        {% endif %}
    </div>
    <div class="col-md-8">{{ message.message }}</div>
    <div class="col-md-2 text-right">
        <span title="{{ message.timestamp | date('M d, Y h:m:ia') }}">{{ message.timestamp | date('h:ma') }}</span>
    </div>
</div>
