{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <header class="border border-top-0 border-left-0 border-right-0 mb-3 py-3">
            <strong>{{ chat.name }}</strong> :: {{ chat.topic }}
        </header>
        <div class="row">
            <div id="chat-view" class="col-md-10">
                {% for message in messages %}
                    {% include ':chat:message.html.twig' with { message: message } %}
                {% endfor %}
            </div>
            <div class="col-md-2">
                <ul>
                    {% for user in users %}
                        <li>{{ user.user.username }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <section>
            {{ form(form) }}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script>
        {% if app.debug %}
            // Enable pusher logging - don't include this in production
            Pusher.logToConsole = true;
        {% endif %}

        var pusher = new Pusher('{{ pusher.key }}', {
            cluster: 'us2',
            encrypted: true
        });

        var channel = pusher.subscribe('{{ pusher.channel }}');
        channel.bind('message_sent', function(data) {
            $('#chat-view').append(data.message);
        });
    </script>
    <script>
        $('form[name="app_bundle_message_form_type"]').submit(function (e) {
            e.preventDefault();

            var url = "{{ path('view_chat', { id: chat.id }) }}";
            var formSerialize = $(this).serialize();

            $.post(url, formSerialize, function (response) {
                console.log(response);
            }, 'JSON');
        });
    </script>
{% endblock %}
